 .u-section-1 {
  background-image: url("images/Untitled-1.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 673px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 553px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-image-1 {
  width: 447px;
  height: 447px;
  background-image: url("images/TWODSCAPITALLOGO.gif");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 553px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  line-height: 1.2;
  font-size: 3.4375rem;
  margin: 65px 0 0;
}

.u-section-1 .u-line-1 {
  width: 530px;
  height: 13px;
  transform-origin: left center;
  margin: 14px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 14px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  background-image: none;
  margin: 37px auto 0 0;
  padding: 20px 46px 20px 44px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 511px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 509px;
  }

  .u-section-1 .u-image-1 {
    width: 401px;
    height: 401px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 416px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-line-1 {
    width: 395px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 378px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 376px;
  }

  .u-section-1 .u-image-1 {
    width: 336px;
    height: 336px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-line-1 {
    width: 324px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 706px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 583px;
    order: 1;
  }

  .u-section-1 .u-image-1 {
    width: 516px;
    height: 516px;
    margin-top: 4px;
  }

  .u-section-1 .u-layout-cell-2 {
    order: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 3rem;
  }

  .u-section-1 .u-line-1 {
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 30.91% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 482px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 367px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-line-1 {
    width: 320px;
  }
} .u-section-2 {
  min-height: 1078px;
}

.u-section-2 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 59px auto 0 0;
}

.u-section-2 .u-image-1 {
  min-height: 1085px;
  background-image: url("images/twods_grp.gif");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 457px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 4px;
  margin: 64px auto 0 0;
}

.u-section-2 .u-text-2 {
  line-height: 2;
  font-weight: 700;
  margin: 31px 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 457px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  margin: 0 2px 0 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 628px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-5 {
  margin-left: 0;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px 0 0;
  padding: 18px 45px 19px 44px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 500px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-2 .u-image-1 {
    min-height: 704px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 240px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 25px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 307px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    background-position: 50% 96.34%;
    min-height: 518px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-2 .u-image-1 {
    min-height: 739px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1184px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-2 .u-image-1 {
    min-height: 651px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 147px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 50px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 50px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1610px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 390px;
    margin-left: auto;
  }

  .u-section-2 .u-image-1 {
    min-height: 701px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 389px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 493px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1124px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  font-size: 3rem;
  margin: 39px auto 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 9px 0 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 39px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 706px;
  grid-gap: 0px 0px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-3 .u-image-1 {
  height: 464px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-3 {
  text-decoration: underline !important;
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 2px 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-3 .u-image-2 {
  height: 464px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-5 {
  text-decoration: underline !important;
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 2px 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-3 .u-image-3 {
  height: 464px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-7 {
  text-decoration: underline !important;
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 2px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-top: 128px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-3 .u-list-1 {
    margin-top: 208px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 582px;
  }

  .u-section-3 .u-image-1 {
    height: 368px;
  }

  .u-section-3 .u-image-2 {
    height: 368px;
  }

  .u-section-3 .u-image-3 {
    height: 368px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-top: 878px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 20px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 1337px;
  }

  .u-section-3 .u-image-1 {
    height: 436px;
  }

  .u-section-3 .u-image-2 {
    height: 436px;
  }

  .u-section-3 .u-image-3 {
    height: 436px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-top: 2391px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 756px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    height: 756px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    height: 756px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3163px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 31px;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 41px;
    margin-right: 0;
  }

  .u-section-3 .u-list-1 {
    margin-top: 41px;
    margin-bottom: 41px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 2550px;
  }

  .u-section-3 .u-image-1 {
    height: 465px;
  }

  .u-section-3 .u-image-2 {
    height: 465px;
  }

  .u-section-3 .u-image-3 {
    height: 465px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1577px;
}

.u-section-4 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 37px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  margin: 27px 0 0;
}

.u-section-4 .u-image-1 {
  width: 925px;
  height: 507px;
  margin: 60px auto 0;
}

.u-section-4 .u-text-3 {
  margin: 46px auto 0;
}

.u-section-4 .u-list-1 {
  margin-top: 41px;
  margin-bottom: 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(25% - 16.5px) calc(25% - 16.5px) calc(25% - 16.5px) calc(25% - 16.5px);
  min-height: 330px;
  grid-gap: 22px 22px;
}

.u-section-4 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-5 {
  font-style: italic;
  margin: 19px 2px 0 0;
}

.u-section-4 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-7 {
  font-style: italic;
  margin: 19px 2px 0 0;
}

.u-section-4 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-4 .u-text-8 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-9 {
  font-style: italic;
  margin: 19px 2px 0 0;
}

.u-section-4 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: none;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 20px;
}

.u-section-4 .u-text-10 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-11 {
  font-style: italic;
  margin: 19px 2px 0 0;
}

.u-section-4 .u-text-12 {
  margin: 20px auto 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 27px auto 57px;
  padding: 16px 102px 17px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-3 {
    margin-top: 45px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 42px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 272px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 0;
  }

  .u-section-4 .u-text-9 {
    margin-right: 0;
  }

  .u-section-4 .u-text-11 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1465px;
  }

  .u-section-4 .u-image-1 {
    width: 720px;
    height: 394px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 313px;
  }

  .u-section-4 .u-list-1 {
    margin-top: -251px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 11px) calc(50% - 11px);
    min-height: 597px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1366px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 296px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1256px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 186px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 736px;
  }

  .u-section-4 .u-list-1 {
    margin-top: -699px;
    margin-bottom: 37px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 811px;
  position: relative;
}

.u-section-5 .u-shape-1 {
  width: 938px;
  height: 404px;
  background-image: none;
  margin: 0 0 0 auto;
}

.u-section-5 .u-image-1 {
  width: 917px;
  height: 641px;
  box-shadow: 5px 5px 35px 0 rgba(0,0,0,0.15);
  margin: -329px auto 0 0;
}

.u-section-5 .u-group-1 {
  min-height: 405px;
  width: 596px;
  margin: -330px 0 20px auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-5 .u-text-1 {
  font-family: Montserrat, sans-serif;
  font-size: 3rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-2 {
  margin: 17px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 24px auto 0 0;
  padding: 10px 70px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-shape-1 {
    width: 737px;
  }

  .u-section-5 .u-image-1 {
    width: 839px;
    height: 631px;
    margin-top: -339px;
  }

  .u-section-5 .u-group-1 {
    margin-top: -310px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 791px;
  }

  .u-section-5 .u-shape-1 {
    width: 643px;
  }

  .u-section-5 .u-image-1 {
    width: 643px;
    height: 456px;
  }

  .u-section-5 .u-group-1 {
    margin-top: -135px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 723px;
  }

  .u-section-5 .u-shape-1 {
    width: 488px;
    height: 384px;
    margin-left: 52px;
  }

  .u-section-5 .u-image-1 {
    width: 488px;
    height: 375px;
  }

  .u-section-5 .u-group-1 {
    min-height: 375px;
    width: 503px;
    margin-top: -72px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 702px;
  }

  .u-section-5 .u-shape-1 {
    width: 288px;
    height: 318px;
    margin-left: auto;
  }

  .u-section-5 .u-image-1 {
    height: 226px;
    width: 298px;
    margin-top: -272px;
  }

  .u-section-5 .u-group-1 {
    min-height: 384px;
    margin-top: 46px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 636px;
}

.u-section-6 .u-shape-1 {
  width: 570px;
  background-image: none;
  height: 496px;
  margin: 55px auto 0 0;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: -496px;
  margin-bottom: 55px;
}

.u-section-6 .u-image-1 {
  min-height: 509px;
  background-image: url("images/6e855666-1764-4019-be9e-998505bd3fdf.jpeg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 31px 30px 30px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 526px;
}

.u-section-6 .u-container-layout-2 {
  padding: 60px 60px 30px;
}

.u-section-6 .u-text-1 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-family: Rubik;
}

.u-section-6 .u-text-2 {
  line-height: 2;
  letter-spacing: 1px;
  margin: 32px 0 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 3px;
  border-style: none;
  margin: 29px auto 0 0;
}

.u-section-6 .u-text-3 {
  font-size: 1rem;
  letter-spacing: 0px;
  font-style: italic;
  text-align: left;
  margin: 32px 314px 0 0;
}

.u-section-6 .u-btn-2 {
  border-style: none none solid;
  font-style: italic;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 547px;
  }

  .u-section-6 .u-shape-1 {
    width: 470px;
  }

  .u-section-6 .u-image-1 {
    min-height: 420px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 434px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 214px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 449px;
  }

  .u-section-6 .u-shape-1 {
    width: 360px;
  }

  .u-section-6 .u-image-1 {
    min-height: 322px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 104px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 710px;
  }

  .u-section-6 .u-shape-1 {
    width: 270px;
  }

  .u-section-6 .u-image-1 {
    min-height: 483px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 531px;
  }

  .u-section-6 .u-shape-1 {
    width: 170px;
  }

  .u-section-6 .u-image-1 {
    min-height: 304px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 731px;
}

.u-section-7 .u-text-1 {
  font-weight: 400;
  font-size: 3.75rem;
  margin: 26px auto 0 0;
}

.u-section-7 .u-text-2 {
  margin: 8px auto 0 0;
}

.u-section-7 .u-table-1 {
  margin-top: 41px;
  margin-bottom: 60px;
}

.u-section-7 .u-table-entity-1 {
  min-height: 100px;
}

.u-block-514f-4 {
  font-weight: 700;
  background-image: none;
}

.u-section-7 .u-table-cell-5 {
  background-image: none;
}

.u-section-7 .u-table-cell-6 {
  background-image: none;
}

.u-section-7 .u-table-cell-7 {
  background-image: none;
}

.u-section-7 .u-table-cell-8 {
  background-image: none;
}

.u-section-7 .u-table-cell-13 {
  background-image: none;
}

.u-section-7 .u-table-cell-14 {
  background-image: none;
}

.u-section-7 .u-table-cell-15 {
  background-image: none;
}

.u-section-7 .u-table-cell-16 {
  background-image: none;
}

.u-section-7 .u-table-cell-21 {
  background-image: none;
}

.u-section-7 .u-table-cell-22 {
  background-image: none;
}

.u-section-7 .u-table-cell-23 {
  background-image: none;
}

.u-section-7 .u-table-cell-24 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-2 {
    margin-top: 35px;
  }

  .u-section-7 .u-table-1 {
    margin-top: 93px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-table-1 {
    margin-top: 68px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    margin-top: 40px;
    font-size: 1.5rem;
  }

  .u-section-7 .u-text-2 {
    margin-top: 43px;
  }

  .u-section-7 .u-table-1 {
    margin-top: 54px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 610px;
}

.u-section-8 .u-shape-1 {
  height: 515px;
  margin-top: 40px;
  margin-bottom: 0;
}

.u-section-8 .u-layout-wrap-1 {
  width: 1084px;
  margin: -501px auto 55px 28px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 469px;
}

.u-section-8 .u-container-layout-1 {
  padding: 20px 0;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0 auto 0 28px;
}

.u-section-8 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 0 28px;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 469px;
}

.u-section-8 .u-container-layout-2 {
  padding: 20px;
}

.u-section-8 .u-btn-1 {
  margin: 192px auto 0;
  padding: 18px 31px 19px 30px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 593px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 407px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 407px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 585px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 356px;
  }

  .u-section-8 .u-shape-1 {
    height: 276px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-text-1 {
    margin-left: auto;
  }

  .u-section-8 .u-text-2 {
    width: auto;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1231px;
  }

  .u-section-8 .u-shape-1 {
    height: 979px;
    margin-top: 39px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: -948px;
    margin-bottom: 33px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 948px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-8 .u-text-2 {
    margin-left: 0;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 180px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-8 .u-btn-1 {
    margin-top: 6px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 578px;
}

.u-section-9 .u-text-1 {
  font-weight: 400;
  font-size: 3.75rem;
  margin: 42px auto 0 11px;
}

.u-section-9 .u-text-2 {
  margin: 8px auto 0 11px;
}

.u-section-9 .u-table-1 {
  margin-top: 31px;
  margin-bottom: 60px;
}

.u-section-9 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-9 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-9 .u-table-cell-1 {
  background-image: none;
}

.u-section-9 .u-table-cell-2 {
  background-image: none;
}

.u-section-9 .u-table-cell-3 {
  background-image: none;
}

.u-section-9 .u-table-cell-4 {
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-9 .u-table-cell-5 {
  font-size: 1.25rem;
}

.u-section-9 .u-table-cell-7 {
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-9 .u-table-cell-8 {
  font-size: 1.25rem;
}

.u-section-9 .u-table-cell-10 {
  font-size: 1.25rem;
}

.u-section-9 .u-table-cell-11 {
  font-size: 1.25rem;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-1 {
    margin-top: 43px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-table-1 {
    margin-top: 6px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-9 .u-table-1 {
    margin-top: 25px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 807px;
}

.u-section-10 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: auto;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 687px;
}

.u-section-10 .u-container-layout-1 {
  padding: 50px 60px;
}

.u-section-10 .u-text-1 {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 0 auto 0 0;
}

.u-section-10 .u-text-2 {
  font-weight: 300;
  font-size: 3.75rem;
  letter-spacing: normal;
  line-height: 1.2;
  text-transform: none;
  margin: 20px auto 0 0;
}

.u-section-10 .u-text-3 {
  margin: 20px 2px 0 0;
}

.u-section-10 .u-line-1 {
  width: 487px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 20px auto 0 0;
}

.u-section-10 .u-list-1 {
  width: 454px;
  grid-template-rows: repeat(3, auto);
  margin: 15px auto 0 0;
}

.u-section-10 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 258px;
  grid-gap: 10px;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px 30px 19px 0;
}

.u-section-10 .u-icon-1 {
  height: 65px;
  width: 65px;
  background-image: none;
  color: rgb(61, 83, 214) !important;
  margin: 0 auto 0 0;
}

.u-section-10 .u-text-4 {
  margin: -65px 0 0 87px;
}

.u-section-10 .u-container-layout-3 {
  padding: 30px 30px 19px 0;
}

.u-section-10 .u-icon-2 {
  height: 65px;
  width: 65px;
  background-image: none;
  color: rgb(61, 83, 214) !important;
  margin: 0 auto 0 0;
}

.u-section-10 .u-text-5 {
  margin: -65px 0 0 87px;
}

.u-section-10 .u-image-1 {
  min-height: 687px;
  background-image: url("images/f96c5d78f5984d73942fa71fb9b9dee5d9e0e80a17c0f48891c02619187db9836872797fe36f7d9c46aa7e8a08f32376c02affc11cd58970b8fef0_1280.jpg");
  background-position: 50% 50%;
}

.u-section-10 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 732px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-left: initial;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 612px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-10 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-10 .u-text-3 {
    margin-right: 0;
  }

  .u-section-10 .u-line-1 {
    width: 444px;
  }

  .u-section-10 .u-list-1 {
    width: 444px;
  }

  .u-section-10 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-10 .u-text-4 {
    margin-left: 77px;
  }

  .u-section-10 .u-icon-2 {
    color: rgb(101, 74, 255) !important;
  }

  .u-section-10 .u-text-5 {
    margin-left: 77px;
  }

  .u-section-10 .u-image-1 {
    min-height: 612px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 783px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 663px;
  }

  .u-section-10 .u-container-layout-1 {
    padding: 0 30px 14px;
  }

  .u-section-10 .u-text-1 {
    margin-top: 30px;
  }

  .u-section-10 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-10 .u-line-1 {
    width: 312px;
    margin-right: 0;
  }

  .u-section-10 .u-list-1 {
    margin-bottom: -50px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-10 .u-repeater-1 {
    min-height: 308px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-10 .u-text-4 {
    width: auto;
    margin-left: 85px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-right: 0;
  }

  .u-section-10 .u-text-5 {
    width: auto;
    margin-left: 85px;
  }

  .u-section-10 .u-image-1 {
    min-height: 663px;
    background-position: 68.24% 50%;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1290px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-top: -65px;
    margin-bottom: -65px;
    margin-left: initial;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 581px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 0;
  }

  .u-section-10 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-10 .u-list-1 {
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-repeater-1 {
    min-height: 223px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .u-section-10 .u-icon-1 {
    margin-top: 8px;
  }

  .u-section-10 .u-text-4 {
    margin-left: 95px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .u-section-10 .u-icon-2 {
    margin-top: 8px;
  }

  .u-section-10 .u-text-5 {
    margin-left: 95px;
  }

  .u-section-10 .u-image-1 {
    min-height: 582px;
  }

  .u-section-10 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1143px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-top: -121px;
    margin-bottom: -121px;
    margin-left: initial;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 1237px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-10 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-right: 201px;
  }

  .u-section-10 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-10 .u-repeater-1 {
    min-height: 266px;
  }

  .u-section-10 .u-text-4 {
    margin-top: -72px;
    margin-left: 88px;
  }

  .u-section-10 .u-text-5 {
    margin-top: -72px;
    margin-left: 88px;
  }

  .u-section-10 .u-image-1 {
    min-height: 366px;
  }
} .u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 480px;
}

.u-section-11 .u-text-1 {
  font-weight: 700;
  margin: 89px auto 0;
}

.u-section-11 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  width: 780px;
  margin: 20px auto 0;
}

.u-section-11 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  transition-duration: 0.5s;
  margin: 20px auto 0;
  padding: 11px 24px 13px 23px;
}

.u-section-11 .u-btn-2 {
  border-style: none none solid;
  margin: 30px auto 0;
  padding: 0;
}

.u-section-11 .u-btn-3 {
  border-style: none none solid;
  margin: 20px auto;
  padding: 0;
}

@media (max-width: 991px) {
  .u-section-11 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-text-2 {
    width: 340px;
  }
}

.u-section-11 .u-btn-1 {
  transition-property: fill, color, background-image, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform !important;
}